.btn-green {
    background-color: #1BDE87;
    color: #F0F9F1;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;
}

.btn-green:hover {
    background-color: #1acd7c;
    cursor: pointer;
}
